<!DOCTYPE html>
<html>
  <head>
    <title>Foodie Cookbook</title>
  </head>

  <body style="background-color: #E0FFFF;">

    <header>
      <a href="/">Homepage</a>
      <a href="/logout">Log Out</a>
      <h1 style="text-align: center;" id="header"> Foodie Cookbook </h1>
      <h2 style="text-align: center;" id="header"> Your Personal Online Cookbook </h2>
    </header>

    <h3>Chef username's Delicious New Recipe: </h3>

  </body>
</html>
