<!DOCTYPE html>
<html>
  <head>
    <title>Foodie Cookbook</title>
  </head>

  <body style="background-color: #E0FFFF;">

    <header>
      <a href="/">Homepage</a>
      <a href="/logout">Log Out</a>
      <h1 style="text-align: center;" id="header"> Foodie Cookbook </h1>
      <h2 style="text-align: center;" id="header"> Your Personal Online Cookbook </h2>
    </header>


    <h3>Chef <%=@user.name%>'s Personal Cookbook</h3>
    <p>What would you like to create today? <a class="button" href="/recipes/new">Create a New Recipe</a></p>
    <%binding.pry%>

    <br><br>

    <ul>
      <%@recipes.each do |recipe|%>
        <li><%= recipe.recipe_name %></li>
      <%end%>
    </ul>

  </body>
</html>
