<!DOCTYPE html>
<html>
  <head>
    <title>Foodie Cookbook</title>
  </head>

  <body style="background-color: #E0FFFF;">
    <header>
      <h1 style="text-align: center;" id="header"> Foodie Cookbook </h1>
      <h2 style="text-align: center;" id="header"> Your Personal Online Cookbook </h2>
    </header>
    <p>Want to Create an Account? <a href="/signup">Sign Up!</a></p>
    <p>Already a User? <a href="/login">Log In!</a></p>
  </body>
</html>
